.btn {
    
    background-color: #FF9E16;
    border-radius: 0.5em;
    height: 3em;
    width: 22em;
    font-size: 1em;
    border: none;
    color: #0033A0;
    font-family: 'Allstate Sans', sans-serif;
    font-weight: 600; 
    display: block;
    margin: 0 auto;
    
    }
    
    .btn:disabled {
    
        background-color: #efefee;
        color: #ccc;
    }