// scss-lint:disable ImportantRule

// Animation helpers

[data-animation-duration="100"] {
  animation-duration: .1s;
}

[data-animation-duration="200"] {
  animation-duration: .2s;
}

[data-animation-duration="300"] {
  animation-duration: .3s;
}

[data-animation-duration="400"] {
  animation-duration: .4s;
}

[data-animation-duration="500"] {
  animation-duration: .5s;
}

[data-animation-duration="600"] {
  animation-duration: .6s;
}

[data-animation-duration="700"] {
  animation-duration: .7s;
}

[data-animation-duration="800"] {
  animation-duration: .8s;
}
