.u-cursor-alias {
  cursor: alias;
}

.u-cursor-cell {
  cursor: cell;
}

.u-cursor-all-scroll {
  cursor: all-scroll;
}

.u-cursor-auto {
  cursor: auto;
}

.u-cursor-col-resize {
  cursor: col-resize;
}

.u-cursor-context-menu {
  cursor: context-menu;
}

.u-cursor-copy {
  cursor: copy;
}

.u-cursor-crosshair {
  cursor: crosshair;
}

.u-cursor-default {
  cursor: default;
}

.u-cursor-e-resize {
  cursor: e-resize;
}

.u-cursor-ew-resize {
  cursor: ew-resize;
}

.u-cursor-help {
  cursor: help;
}

.u-cursor-move {
  cursor: move;
}

.u-cursor-n-resize {
  cursor: n-resize;
}

.u-cursor-ne-resize {
  cursor: ne-resize;
}

.u-cursor-nesw-resize {
  cursor: nesw-resize;
}

.u-cursor-no-drop {
  cursor: no-drop;
}

.u-cursor-none {
  cursor: none;
}

.u-cursor-not-allowed {
  cursor: not-allowed;
}

.u-cursor-ns-resize {
  cursor: ns-resize;
}

.u-cursor-nw-resize {
  cursor: nw-resize;
}

.u-cursor-nwse-resize {
  cursor: nwse-resize;
}

.u-cursor-pointer {
  cursor: pointer;
}

.u-cursor-progress {
  cursor: progress;
}

.u-cursor-row-resize {
  cursor: row-resize;
}

.u-cursor-s-resize {
  cursor: s-resize;
}

.u-cursor-se-resize {
  cursor: se-resize;
}

.u-cursor-sw-resize {
  cursor: sw-resize;
}

.u-cursor-text {
  cursor: text;
}

.u-cursor-vertical-text {
  cursor: vertical-text;
}

.u-cursor-w-resize {
  cursor: w-resize;
}

.u-cursor-wait {
  cursor: wait;
}
