// scss-lint:disable ImportantRule

// Display Helpers

.u-display {
  &--block {
	display: block;
  }

  &--inline-block {
    display: inline-block;
  }

  &--inline {
    display: inline;
  }
}

.u-inherit-height {
	height: inherit;
}
