// scss-lint:disable ImportantRule

// Horizontal Rhythm Helpers

.u-hr {
  margin-right: .5rem; //8
}

.u-hr-2 {
  margin-right: 1rem; //16
}

.u-hr-3 {
  margin-right: 1.5rem; //24
}

.u-hr-4 {
  margin-right: 2rem; //32
}

.u-hr-5 {
  margin-right: 2.5rem; //40
}

.u-hr-6 {
  margin-right: 3rem; //48
}

.u-hr-7 {
  margin-right: 3.5rem; //56
}

.u-hr-8 {
  margin-right: 4rem; //64
}

.u-hr-9 {
  margin-right: 4.5rem; //72
}

.u-hr-10 {
  margin-right: 5rem; //80
}

.u-hr-11 {
  margin-right: 5.5rem; //88
}

.u-hr-12 {
  margin-right: 6rem; //96
}

.u-hr-13 {
  margin-right: 6.5rem; //104
}

.u-hr-14 {
  margin-right: 7rem; //112
}


// Top vertical alignment helpers

.u-hr-left {
  margin-left: .5rem; //8 top
}

.u-hr-2-left {
  margin-left: 1rem; //16 top
}

.u-hr-3-left {
  margin-left: 1.5rem; //24 top
}

.u-hr-4-left {
  margin-left: 2rem; //32 top
}

.u-hr-5-left {
  margin-left: 2.5rem; //40 top
}

.u-hr-6-left {
  margin-left: 3rem; //48 top
}

.u-hr-7-left {
  margin-left: 3.5rem; //56 top
}

.u-hr-8-left {
  margin-left: 4rem; //64 top
}

.u-hr-9-left {
  margin-left: 4.5rem; //72 top
}

.u-hr-10-left {
  margin-left: 5rem; //80 top
}

.u-hr-11-left {
  margin-left: 5.5rem; //88 top
}

.u-hr-12-left {
  margin-left: 6rem; //96 top
}

.u-hr-13-left {
  margin-left: 6.5rem; //104 top
}

.u-hr-14-left {
  margin-left: 7rem; //112 top
}
