// scss-lint:disable ImportantRule

// Vertical Rhythm Helpers

.u-vr {
  margin-bottom: .5rem; //8
}

.u-vr-2 {
  margin-bottom: 1rem; //16
}

.u-vr-3 {
  margin-bottom: 1.5rem; //24
}

.u-vr-4 {
  margin-bottom: 2rem; //32
}

.u-vr-5 {
  margin-bottom: 2.5rem; //40
}

.u-vr-6 {
  margin-bottom: 3rem; //48
}

.u-vr-7 {
  margin-bottom: 3.5rem; //56
}

.u-vr-8 {
  margin-bottom: 4rem; //64
}

.u-vr-9 {
  margin-bottom: 4.5rem; //72
}

.u-vr-10 {
  margin-bottom: 5rem; //80
}

.u-vr-11 {
  margin-bottom: 5.5rem; //88
}

.u-vr-12 {
  margin-bottom: 6rem; //96
}

.u-vr-13 {
  margin-bottom: 6.5rem; //104
}

.u-vr-14 {
  margin-bottom: 7rem; //112
}


// Top vertical alignment helpers

.u-vr-top {
  margin-top: .5rem; //8 top
}

.u-vr-2-top {
  margin-top: 1rem; //16 top
}

.u-vr-3-top {
  margin-top: 1.5rem; //24 top
}

.u-vr-4-top {
  margin-top: 2rem; //32 top
}

.u-vr-5-top {
  margin-top: 2.5rem; //40 top
}

.u-vr-6-top {
  margin-top: 3rem; //48 top
}

.u-vr-7-top {
  margin-top: 3.5rem; //56 top
}

.u-vr-8-top {
  margin-top: 4rem; //64 top
}

.u-vr-9-top {
  margin-top: 4.5rem; //72 top
}

.u-vr-10-top {
  margin-top: 5rem; //80 top
}

.u-vr-11-top {
  margin-top: 5.5rem; //88 top
}

.u-vr-12-top {
  margin-top: 6rem; //96 top
}

.u-vr-13-top {
  margin-top: 6.5rem; //104 top
}

.u-vr-14-top {
  margin-top: 7rem; //112 top
}
